# Version control
.git
.gitignore

# OS / editor files
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
*.log
logs/
tmp/

#runtime
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
.eggs/
.venv/
env/
venv/

#misc
_azurite/
_azurite.old/
dist/
azurite*
.azurite*
_azurite*

# VS Code & OS junk
.DS_Store
Thumbs.db